BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AllowShortIfStatementsOnASingleLine: true

ColumnLimit: 100

IndentWidth: 4

MaxEmptyLinesToKeep: 1
